* {
    box-sizing: border-box;
}

body {
    background-color: #080808;
}

#header {
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}

.logo-click {
    display: inline-block;
    width: 200px;
    height: 70px;
}

.button {  
    color: #080808;
    position: absolute;
    bottom: -235px;
}   

.logo {
    pointer-events: none;
    user-select: none;
    width: 200px;
    height: 70px;
}

h1 {
    font-family: "Dela Gothic One", cursive;
    font-size: 6vw;
    user-select: none;
    line-height: 100px;
    margin-bottom: 15px;
    text-align: center;
    /* background: linear-gradient(#5000A0,#5C00B9);
    -webkit-text-fill-color: transparent; */  /* makes it not work */
    background-clip: text;
    color:white;
}

.first-letter {
    color: #5000a0;
}

p {
    font-family: "Metropolis", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 25px;
    margin-left: 50px; 
}