* {
    box-sizing: border-box;
}

body {
    background-color: #080808;
}

#header {
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}

.logoClick {
    display: inline-block;
    width: 200px;
    height: 70px;
}

a.button {  
    color: #080808;
    position: absolute;
    bottom: -235px;
    background: transparent;
    border: none !important;
}

.logo {
    pointer-events: none;
    user-select: none;
    width: 200px;
    height: 70px;
}

h1 {
    font-family: "Dela Gothic One", cursive;
    font-size: 8.3vw;
    user-select: none;
    line-height: 30px;
    margin-bottom: 70px;
    text-align: center;;
    color:white;
}

.firstLetter {
    color: #5000a0;
    background: linear-gradient(#5000A0,#5C00B9);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

p {
    font-family: "Metropolis", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 25px;
    margin-left: 50px; 
}