* {
    box-sizing: border-box;
}

body {
    background-color: #080808;
}

#header {
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}

.logo {
    width: 300px;
    pointer-events: none;
    user-select: none;
} 
