* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background: #080808
    color #fff;

}

.logo {
    width: 140px;
}

#header {
    background-image: url(images/HD-wallpaper-pitch-black-dark.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}

h1, p {

    padding: 2;
    font-family: Metropolis, sans-serif;
    color: #fff;
    font-weight: 600;
} 