* {
    font-family: 'Metropolis', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}
body {
    background: #080808

}
#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    float: right;
}

.logo {
    width: 300px;
    pointer-events: none;
    user-select: none;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin: 5px 30px;
    position: relative;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

nav li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #5000a0;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.4s;
    
}

nav li a:hover::after{
    width: 100%;
}
